'.source.ee':
  # Variables
  '{var}...{/var}':
    'prefix': 'var-pair'
    'body': """
      {$1}
        $2
      {/$1}
      $0
    """
  '{path=\'...\'}':
    'prefix': 'path'
    'body': '{path=\'$1\'}'
  # Conditionals
  '{if condition}...{/if}':
    'prefix': 'if'
    'body': """
      {if $1}
        $0
      {/if}
    """
  '{if:elseif}':
    'prefix': 'elseif'
    'body': '{if:elseif $1}'
  '{if:else}':
    'prefix': 'else'
    'body': '{if:else}'
    # Channel Entries Tag
  '{exp:channel:entries channel="..."}':
    'prefix': 'exp'
    'body': """
      {exp:channel:entries channel="$1"}
        $0
      {/exp:channel:entries}
    """
    # Layout Tag
  '{layout="..."}':
    'prefix': 'layout'
    'body': '{layout="$1"}'
  '{layout:set name="..." value="..."}':
    'prefix': 'layout-set'
    'body': '{layout:set name="$1" value="$2"}$0'
  '{layout:set name="..."}...{/layout:set}':
    'prefix': 'layout-set-pair'
    'body': '{layout:set name="$1"}$2{/layout:set}$0'
  '{layout:(...)}':
    'prefix': 'layout-var'
    'body': '{layout:$1}'
    # Embed Tag
  '{embed="..."}':
    'prefix': 'embed'
    'body': '{embed="$1"}'
