'scopeName': 'source.ee'
'name': 'ExpressionEngine 3'
'fileTypes': [
  'html'
]
'patterns': [
  {
    'include': 'text.html.basic'
  }
  {
    'include': '#components'
  }
]
'repository': {
  'components': {
    'patterns': [
      {
        'include': '#comment'
      }
      {
        'include': '#tags'
      }
    ]
  }

  # Comment Tag
  'comment': {
    'begin': '\\{!--'
    'end': '--\\}'
    'name': 'comment.block.ee'
  }

  # Template Tags
  'tags': {
    'begin': '({\/?)'
    'end': '(})'
    'name': 'text.html.ee'
    'patterns': [
      {
        'include': '#tags'
      }
      {
        'include': '#double-quotes-ee'
      }
      {
        'include': '#single-quotes-ee'
      }
      {
        'include': '#operators-ee'
      }
      {
        'include': '#comparison-and-or-ee'
      }
      {
        'include': '#tag-param-ee'
      }
      {
        'include': '#conditionals-ee'
      }
      {
        'include': '#module-tag-ee'
      }
    ]
  }

  # Tag Double Quotes
  'double-quotes-ee':
    'begin': '"'
    'end'  : '"'
    'name': 'string.quoted.double.php.ee'

  # Tag Double Quotes
  'single-quotes-ee':
    'begin': '\''
    'end'  : '\''
    'name': 'string.quoted.single.php.ee'

  # Conditional Logical Operators
  'comparison-and-or-ee':
    'match': '\\s?(AND|OR|&&|\\|\\|)\\s?'
    'name': 'keyword.operator.other.ee'

  # Logic Operators
  'operators-ee':
    'match': '(\\(|\\)|<=|>=|<>|<|>|=|!=|==|===|!==|~|\\^=|\\*=|\\$=|\\^|\\*\\*|\\/|\\%|\\+|-)'
    'name': 'keyword.operator.other.ee'

  # Tag Param
  'tag-param-ee':
    'match': '(\\w+)=|\\s(\\w+)\\s'
    'captures':
      '1':
          'name': 'support.function.construct.begin.ee'

  # Conditional Keywords
  'conditionals-ee':
    'match': '(\/?if(:else)?(:elseif)?)'
    'name': 'keyword.control.if.php.ee'

  # Module Tag
  'module-tag-ee':
    'match': '(\\w+:?|\\w+:?|\\w+=?)'
    'captures':
      '1':
          'name': 'text.html.ee'
}
