# Scope Name
'scopeName': 'text.html.ee'

# Syntax Name
'name': 'ExpressionEngine 3'

# Folding Markers
'foldingStartMarker': '(^\\s*/\\*|(\\{|\\[|\\()\\s*$)'
'foldingStopMarker': '(\\*/|^\\s*(\\}|\\]|\\)))'

# File Types
'fileTypes': [
  'html'
]

# Global Patterns
'patterns': [
  {
    'include': 'text.html.basic'
  }
  {
    'include': '#components'
  }
]

# Component Repository
'repository': {
  'components': {
    'patterns': [
      {
        'include': '#comment'
      }
      {
        'include': '#conditionals-tags-elseif'
      }
      {
        'include': '#conditionals-tags-else'
      }
      {
        'include': '#conditionals-tags-opening-closing'
      }
      {
        'include': '#layout-set-tag'
      }
      {
        'include': '#module-tags'
      }
    ]
  }

  # Comment Tag
  'comment': {
    'begin': '\\{!--'
    'end': '--\\}'
    'name': 'comment.block.ee'
  }

  # Conditional Tags Opening and Closing
  'conditionals-tags-opening-closing': {
    'begin': '{(\/?if)'
    'end': '}'
    'captures':
      '1':
        'name': 'keyword.control.if.php.ee'
    'patterns': [
      {
        'include': '#boolean-comparisons'
      }
      {
        'include': '#logical-operators'
      }
      {
        'include': '#comparison-and-or'
      }
      {
        'include': '#double-quotes'
      }
      {
        'include': '#single-quotes'
      }
    ]
  }

  # Conditional Tags ElseIf
  'conditionals-tags-elseif': {
    'begin': '{(\/?if:elseif)'
    'end': '}'
    'captures':
      '1':
        'name': 'keyword.control.if.php.ee'
    'patterns': [
      {
        'include': '#boolean-comparisons'
      }
      {
        'include': '#logical-operators'
      }
      {
        'include': '#comparison-and-or'
      }
      {
        'include': '#double-quotes'
      }
      {
        'include': '#single-quotes'
      }
    ]
  }

  # Conditional Tags Else
  'conditionals-tags-else': {
    'begin': '{(\/?if:else)'
    'end': '}'
    'captures':
      '1':
        'name': 'keyword.control.if.php.ee'
  }

  # Layout Set Tag
  'layout-set-tag': {
    'begin': '{(\/?layout)(:)(set)'
    'end': '}'
    'captures':
      '1':
        'name': 'support.function.construct.begin.ee'
      '2':
        'name': 'text.html.ee'
      '3':
        'name': 'support.function.construct.begin.ee'
    'patterns': [
      {
        'include': '#double-quotes'
      }
      {
        'include': '#single-quotes'
      }
      {
        'include': '#tag-parameter'
      }
    ]
  }

  # Template Tags
  'module-tags': {
    'begin': '({\/?)'
    'end': '(})'
    'name': 'text.html.ee'
    'patterns': [
      {
        'include': '#module-tags'
      }
      {
        'include': '#module-tag-open-close-ee'
      }
      {
        'include': '#double-quotes'
      }
      {
        'include': '#single-quotes'
      }
      {
        'include': '#tag-parameter'
      }
    ]
  }

  # Tag Double Quotes
  'module-tag-open-close-ee':
    'match': '\\/?(exp):(\\w*):?(\\w*)?'
    'captures':
      '1':
        'name': 'text.html.ee'
      '2':
        'name': 'text.html.ee'
      '3':
        'name': 'text.html.ee'

  # Tag Double Quotes
  'double-quotes':
    'begin': '"'
    'end'  : '"'
    'name': 'string.quoted.double.php.ee'

  # Tag Double Quotes
  'single-quotes':
    'begin': '\''
    'end'  : '\''
    'name': 'string.quoted.single.php.ee'

  # Conditional Logical Operators
  'comparison-and-or':
    'match': '\\s?(AND|OR|&&|\\|\\|)\\s?'
    'name': 'keyword.operator.other.ee'

  # Logic Operators
  'logical-operators':
    'match': '(\\(|\\)|<=|>=|<>|<|>|=|!=|==|===|!==|~|\\^=|\\*=|\\$=|\\^|\\*\\*|\\/|\\%|\\+|-|\\.)'
    'name': 'keyword.operator.other.ee'

  # Tag Param
  'tag-parameter':
    'match': '(\\w+:)?(\\w+)=|\\s(\\w+)\\s'
    'captures':
      '1':
          'name': 'support.function.construct.begin.ee'
      '2':
          'name': 'support.function.construct.begin.ee'
      '3':
          'name': 'support.function.construct.begin.ee'

  # Boolean Comparisons
  'boolean-comparisons':
    'match': '(?<!\\w)(TRUE|FALSE|1|0|-1|"1"|"0"|"-1")'
    'captures':
      '1':
          'name': 'constant.other.php.ee'
}
